<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AA_EyeSee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19F209F91CE1C5D600F201F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F20A0D1CE1C5D700F201F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F20A181CE1C5D700F201F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
